<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{{ url_for('static', filename= 'js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/jquery.sticky.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'fonts/icomoon/style.cs') }}">
    <!-- <link rel="stylesheet" href="fonts/icomoon/style.css"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/owl.carousel.min.css') }}">
    <!-- <link rel="stylesheet" href="css/owl.carousel.min.css"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    
    <!-- Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    
    
    <title>Inventory Insight</title>
  </head>
  <body>
    
    <header class="site-navbar" role="banner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-11 col-xl-2">
            <h1 class="mb-0 site-logo"> 
              <img src="static/images/hero_2.png" height="50" width="50" alt="Inventory Insight">
              <a href="/" class="text-white mb-0"> Inventory Insight</a>
            </h1>
          </div>
        <div class="col-12 col-md-10 d-xl-block">  
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a href="/"><span>Home</span></a></li>
              <li class="has-children">
                <a href="inventory"><span>Inventory</span></a>
                <ul class="dropdown arrow-top">
                  <li><a href="inventory">View Inventory</a></li>
                  <li><a href="inventoryadd">Add Inventory</a></li>
                  </li>
                </ul>
              </li>
              <li class="has-children">
                <a href="users"><span>Users</span></a>
                <ul class="dropdown arrow-top">
                  <li><a href="users">View Users</a></li>
                  <li><a href="useradd">Add User</a></li>
                  </li>
                </ul>
              </li>
              <li class="has-children">
                <a href="orders"><span>Orders</span></a>
                <ul class="dropdown arrow-top">
                  <li><a href="orders">View Orders</a></li>
                  <li><a href="orderadd">Add Order</a></li>
                  </li>
                </ul>
              </li>
              <li><a href="logout"><a href="/logout">Logout</a></li>
            </ul>
          </nav>
      </div>
      
    </header>

    <div class="pages" >
        <hr class="rounded">
        {% block content %} 
        
        {% endblock %}
    </div>

     
      <footer>
        By <span>Brooke, Alex, Nick, & Seth</span>
      </footer>
  </body>
</html>
