{% extends 'base2.html' %}

{% block content %}

<table id="tabledata">

    <tr>
        <th>Product ID</th>
        <th>Created</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Location</th>
        <th>Action</th>

    </tr>  

    {% for item in inventory %}
    <tr>  
        
        <td class="c2">{{item.id}}</td>
        <td class="c3">{{item.created}}</td>   
        <td class="c4">{{item.itemName}}</td>
        <td class="c5">{{item.description}}</td>
        <td class="c5">{{item.quantity}}</td>
        <td class="c6">{{item.location}}></td>
        <td> 
            <form action="/inventory/remove/{{item.id}}" method="POST" id="remove_form">
            <input type="submit" class="btn btn-secondary btn-sm" value="Remove Record" form="remove_form"> 
        </td>
    </tr>

    {% endfor %}
    </table>

{% endblock %}